
.game-grid{
    display: inline-grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 3px;
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 4em;
    background: white;

}



.left-half{
    width: 50vw;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ef6e4;
}


.right-half {
    width: 50vw;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    padding: 0;
    margin: 0;
}
